h1 {
  color: #990785;
}

.highlightcolor {
  font-weight:bold; 
  font-family: serif; 
  font-size:20px; 
  color:#70081a;
  padding-left: 5%;
}
#map {
  position: absolute;
  height: 50%;
  width: 100%;
}
.image {
  width: 40%;
  float: left;
  padding-left: 5%;
}

  .logo {
  width:125px
}
.text {
margin-top: 30%;
}
.buttons {
  position: absolute;
  right: 100px;
  top: 15px;
  z-index: 20000;
}